@charset "UTF-8"; //设置支持中文注释

body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,input,td,textarea{
	margin: 0;
	padding: 0;
}

a{
	color: #757575;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
ul,ol,li{
	list-style: none;
}
img{
	border: none;
	display: block;
}
input{
	outline: none;
}
body{
    height: 100%;
	font-family: "Microsoft Yahei","Helvetica Neue", Helvetica, Arial,  "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.login{
    width: 100%;
	height: 100%;
    background: rgba(0,0,0,0.8);
    filter: none;
    position: fixed;
    left: 0;
    top: 0;
	bottom:0;
}
.loginmain{
    position: fixed;
    z-index: 1;
	top: 50%;
    left: 50%;
	width: 360px;
    margin-left: -240px;
	margin-top: -251px;
    padding: 30px 60px;
    background: #fff;
    p{
        position: relative;
        z-index: 1;
        margin-top: 10px;
        input{
            position: relative;
            z-index: 1;
            width: 338px;
            height: 43px;
            padding: 0 10px;
            line-height: 43px;
            border: solid 1px #dadada;
            color: #bbb;
            font-size: 14px;
            background: transparent;
        }
    }
    .logina{
		width: 100%;
	    height: 45px;
	    line-height: 45px;
	    text-align: center;
	    color: #fff;
	    font-size: 20px;
	    background: #cf1d1b;
	    border: none;
		cursor: pointer;
    }
    .denglu{
        display: none;
    }
    .denglu1{
        display: block;
    }
}
.close{
	position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #c8c8c8;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
	.icon-chahao{
		font-size:28px;
		font-weight:0;
	}
}
.login_top{
    text-align: center;
    line-height: 22px;
    font-size: 18px;
    overflow: hidden;
    height: 22px;
    padding-bottom: 18px;
    li{
        float: left;
        width: 50%;
        height: 18px;
        line-height: 18px;
        margin-top: 2px;
        color: #777;
        border-left: solid 1px #adadad;
        margin-left: -1px;
        cursor: pointer;
    }
    li:first-child{
        color: #cf1d1b;
    }
}
.phone{
    position: relative;
	button{
		position: absolute;
		z-index: 2;
		right: 0;
		top: 5px;
		width: 127px;
		height: 35px;
		line-height: 35px;
		border: 0;
		outline: none;
		border-left: solid 1px #dadada;
		text-align: center;
		font-size: 12px;
		background: none;
		color: #777;
		cursor: pointer;
	}
}
.jiancha{
    color: #f30909;
    font-size: 14px;
    display: none;
}
.agreement{
	font-size: 14px;
    padding: 10px 0 10px;
}
#agree{
	display:inline-block;
	width:18px;
	height:18px;
	text-align:center;
	line-height:18px;
	border: solid 1px #cf1d1b;
    background: transparent;
	position:relative;
	.icon-duihao{
		font-size:26px;
		color: #cf1d1b;
		font-weight:bold;
		position:absolute;
		top:0px;
		left:-4px;
	}
}
.login_bottom{
    padding-top: 19px;
    .iconfont{
        float: left;
        font-size: 36px;
        color: #ccc;
        margin-right: 18px;
    }
    .icon-weixin-copy{
        font-size: 40px;
    }
}
.forget{
    float: right;
    height: 24px;
    line-height: 30px;
    color: #cf1d1b;
}
.forget1{
    line-height: 44px;
}

// 改变input里placeholder的样式
.ceshi::-webkit-input-placeholder {
    color: #bbb;
}
.ceshi:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #bbb;
}
.ceshi::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #bbb;
}
.ceshi:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #bbb;
}